{% extends "home/layout.html" %}

{% block title %}
    Moda & Artes
{% endblock %}

{% block body %}
<container class="texto-core">
    <h1>Moda & Artes</h1>
    <p>
        Desenhei minha primeira coleção aos 6 anos, com direito a drapeados de lençol e desfile de moda para minha vó e irmão caçula. 
        Na mesma época também organizava exposições das minhas artes pra família, e de lá até aqui foram incontáveis desenhos, invenções e 
        projetos. É tanta coisa que isso aqui viraria a Wikipédia, então vou ficar na minha e só mostrar um pouquinho. hehehehe
    </p>
</container>
<section>
    <article class="box-marca">
    <div class="carousel-marcas">
        <div id="carouseldera" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/dera2.png" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/dera1.png" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/dera3.png" alt="Terceiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/dera4.png" alt="Quarto Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/dera5.png" alt="Quinto Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouseldera" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouseldera" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>Dêra Vizu</h3>
        <p>
            Uma doidêra visual, e também a primeira aparição do Monstro em versão digital (ele já habitava meus quadros e artesanatos :P).
            Scrunchies gigantes, gritantes, abundantes. Acessórios insanos e multicoloridos, pensados por e para quem não tem medo de aparecer.
            É como diria minha avó: vergonha é roubar e não poder carregar. <br><br>
            A Dêra é mais do que um projeto, é um estado de espírito. É a alma que transborda do corpo. É rir de chorar e chorar de rir.  
        </p>
    </div>
    </article>
</section>
<section>
    <article class="box-marca-esq">
    <div class="carousel-marcas">
        <div id="carouselcaderno" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/cadernista1.png" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/cadernista2.png" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/cadernista3.png" alt="Terceiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/cadernista4.png" alt="Quarto Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/cadernista5.png" alt="Quinto Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselcaderno" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselcaderno" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>A Cadernista</h3>
        <p>
            A Cadernista é o projeto pelo qual tenho mais carinho! Aconteceu entre 2014 e 2017, e nesse tempo participei de incontáveis feiras e 
            eventos, vendendo cadernos artesanais e acessórios de papelaria. Eu amo papel! Tenho sempre mil caderninhos ao redor, e acho fantástico ser
            capaz de produzir brochuras e cadernos de capa dura do zero. Foi minha primeira experiência empreendedora com artesanato, e foi tão maravilhoso 
            que terminei escrevendo o e-book <strong>Empreendendo com amor: Ou como um caderno mudou minha vida"</strong>. 
            <a href="https://books.google.com.br/books?id=rkuMBQAAQBAJ&printsec=frontcover&hl=pt-BR&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=false" target="_blank">(clique para ler gratuitamente ♥)</a>
        </p>
    </div>
    </article>
</section>
<section>
    <article class="box-marca">
    <div class="carousel-marcas">
        <div id="carouselmomentos" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/momentos/momentos1.jpg" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos2.jpg" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos3.jpg" alt="Terceiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos4.jpg" alt="Quarto Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselmomentos" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselmomentos" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>Momentos Rio - Fragilidade Humana</h3>
        <p>
            O Momentos é um projeto apaixonante de dança contemporânea dirigido e coreografado pelo Vinicius. Acontece pelos 4 cantos do mundo, e tive
            a honra de coordenar a cenografia da edição do Rio em 2018 e 2019. Unindo duas paixões - arte e sustentabilidade - pensamos um 
            cenário quase 100% composto por materiais reaproveitados. <br><br>Em 2018 desenvolvi móbiles florais a partir de revistas antigas e cápsulas de café
            usadas. Foi minha primeira experiência em cenografia, e não poderia ser melhor: toda a correria valeu a pena quando entramos na sala 
            da Cidade das Artes e vimos o resultado incrível, possível graças ao trabalho fantástico de iluminação. Inesquecível é pouco pra 
            descrever a sensação. ♥
            <br><br>Fotografias pela talentosíssima <a href="https://www.fabianabomfim.com/">Fabiana Bomfim</a>.
        </p>
    </div>
    </article>
</section>
<section>
    <article class="box-marca-esq">
    <div class="carousel-marcas">
        <div id="carouselmomentos2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/momentos/momentos5.jpg" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos6.jpg" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos7.jpg" alt="Terceiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos8.jpg" alt="Quarto Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/momentos/momentos9.jpg" alt="Quinto Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselmomentos2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselmomentos2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>Momentos Rio - O Fio da Meada</h3>
        <p>
            Para a edição de 2019, quis seguir no propósito de unir arte e sustentabilidade, e dessa vez conseguimos a marca de 60% de materiais
            reutilizados. Unindo retalhos de tecido (descarte da indústria da moda) com cordas, fios e aramados, criamos uma verdadeira selva
            de tramas! Brincando com a proposta, pensamos em conexão humana, nas redes de pesca e de computadores, nos 
            novelos que se embolam e desembolam assim como nossos caminhos se encontram e desencontram. 
            <br><br>
            Tremi na base quando os dançarinos começaram a interagir com o cenário! É firme o suficiente? Vai aguentar o tranco? No final, deu tudo certo!
            Reforçamos as entruturas e amarrações, e o resultado foi um cenário lúdico e interativo! Com tudo, não seríamos nada sem a equipe incrível 
            de iluminação! Que espetáculo! E que bom que o olhar aguçado da <a href="https://www.fabianabomfim.com/">Fabiana Bomfim</a> 
            registrou a mágica! Viva a arte! 
        </p>
    </div>
    </article>
</section>
{% endblock %}