{% extends "home/layout.html" %}

{% block title %}
    Marcas
{% endblock %}

{% block body %}
<container class="texto-core">
    <h1>O famoso branding!</h1>
    <p>Criar marcas é mágico! Amo/sou! Além de criar logos, apresentações e brandbooks para clientes, também amo inventar negócios
        hipotéticos e criar marcas e conceitos do absoluto zero. Cada um sabe como se diverte, né? haha Como menos é mais, eis minhas três favoritas!
    </p>
</container>
<section>
    <article class="box-marca">
    <div class="carousel-marcas">
        <div id="carouselrefri" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/bannerrefri.png" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/labelsrefri.png" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/refris-3.png" alt="Terceiro Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselrefri" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselrefri" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>Refri Pirata</h3>
        <p>
            Um refri de fermentação natural, probiótico e excelente para a digestão? Temos! Depois de experimentar (e preparar) ginger bug, minha
            vida nunca mais foi a mesma! A partir da ideia de piratear garrafas de refri industrializado e encher com refri natural, criei o Refri Pirata!
            <br><br>
            A ideia aqui foi desenvolver uma marca divertida, irreverente, com foco na sustentabilidade, na saúde e no bem-estar de adultos e crianças. 
            O rótulo preto e branco nas garrafinhas transparentes destaca o conteúdo: um refri colorido naturalmente, cheio de gás, divertido de fazer e de beber!
        </p>
    </div>
    </article>
</section>
<section>
    <article class="box-marca-esq">
    <div class="carousel-marcas">
        <div id="carouselzedo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/zedoconcept.png" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/labelszedo.png" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/labelszedo2.png" alt="Terceiro Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselzedo" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselzedo" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>Zêdo - Vinagres artesanais</h3>
        <p>
            Quando penso um rótulo, sempre levo o fator diversão em consideração, e com a embalagem do Zêdo não poderia ser diferente. O conceito Alien vem do fato de que Kombuchás dependem do SCOBY, um aglomerado de bactérias
            e celulose que fermenta o chá e dá origem a bebida (que pode ser fermentada por mais tempo até virar vinagre). Se você já viu um SCOBY, vai entender:
            parece que ele veio de outro planeta!  
            <br><br> 
            Como o Zêdo é multifuncional (pode ser usado na comida, no cabelo e na pele), fugi do tradicional e terminei com essas belezinhas. Uma embalagem que fica linda na prateleira da cozinha ou do banheiro, na geladeira ou na mesa. Na rua, na chuva ou na fazenda! HAHA
        </p>
    </div>
    </article>
</section>
<section>
    <article class="box-marca">
    <div class="carousel-marcas">
        <div id="carouseldama" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/static/home/logodama.png" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/mockupdama.png" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/static/home/mockupdama2.png" alt="Terceiro Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouseldama" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouseldama" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
    <div class="texto-sliders">
        <h3>DaMa - Palavra & Imagem</h3>
        <p>
            Ser minimalista sem ser chato ou pretensioso é um desafio, e como amo desafios, achei o máximo pensar a ID da DaMa! Uma prensa esmagando
            um smartphone? Sim, por favor! Nada resumiria melhor a personalidade dos envolvidos, gente que enxerga a tecnologia como meio e nunca como
            fim. Gente que não usa rede social e que questiona constantemente os supostos avanços da tecnologia e seus impactos na existência humana. 
            <br><br>
            Uma ode ao mundo real, ao fazer devagar, ao livre pensar e à simplicidade de formas e gestos! ♥ <br><br>Saiba mais <a href="http://agenciadama.com.br">clicando aqui.</a> 
        </p>
    </div>
    </article>
</section>
{% endblock %}