{% extends "home/layout.html" %}

{% block title %}
    Sobre
{% endblock %}

{% block body %}
<section id="sobre">
    <img src="/static/home/retrato.png" alt="foto da autora do site" id="retrato">
    <div id="texto-sobre">
    <h1>Sobre</h1>
    <p>
        Nasci na Zona Oeste do RJ, e desde pequene tendia ao drama, ao exagero, ao multicolorido e ao caos. Acho que já nasci desenhando
        e inventando moda. Como diria Cecília, já fui loura, já fui morena, Margarida e Beatriz. Diferente da heroína desse poema, me recuso 
        a não ser como quero: uma só profissão não comporta meus talentos e vontades, e por isso me desdobrei em mil. Design gráfico, web design,
        costura, cenografia, arte e artesanato. Música, gastronomia, marketing. O céu é muito pouco pra ser o limite! 
        <br><br>
        Autodidata de aprendizado cinestésico, só sei aprender fazendo: me dá uma aula teórica e eu durmo. Me mostra como se faz
        e nunca mais esqueço. Além de tudo, sou entrona: networking pra mim se faz ao vivo, Linkedin é só um instagram pra vida profissional
        e eu acho um <strong>tédio</strong>. 
    </p>
    </div>
</section>
{% endblock %}