asgiref==3.7.2
attrs==20.3.0
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
DateTime==5.1
Django==4.2.2
django-bootstrap4==23.2
idna==3.4
jellyfish==0.11.2
lib50==3.0.6
pexpect==4.8.0
ptyprocess==0.7.0
pycparser==2.21
python-dotenv==1.0.0
pytz==2023.3
PyYAML==5.4.1
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
submit50==3.1.1
termcolor==1.1.0
tzdata==2023.3
urllib3==2.0.3
zope.interface==6.0